# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
missfont.log

# Pdf files should NOT be ignored
!*.pdf

# Editor/OS files
.DS_Store
.vscode/
